[Unit]
Description=Generate nstr-report daily summary at midnight UTC
Documentation=https://github.com/EthnTuttle/nstr-report

[Timer]
# Generate fresh summary at midnight UTC
OnCalendar=*-*-* 00:00:00 UTC
RandomizedDelaySec=120
Persistent=true

[Install]
WantedBy=timers.target
